/* PT Sans regular (normal) */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/ptsans-400.woff2") format("woff2");
}

/* PT Sans bold (normal) */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #000000;
  margin: 0 auto;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 70px;
  max-width: 1200px;

  height: 100%;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: #756157;
  color: #ffffff;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 50px;
  margin: 0;
  border-radius: 4px;
  border: none;
}

.button--submit,
.button--to-favorite {
  background-color: #82B3D3;
}

.button--reset {
  background-color: transparent;
}

.button--favorite {
  background-color: #7DB54F;
}

.title {
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
}

.text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}

/* header */
.header__logo {
  position: absolute;
}

.navigation {
  display: flex;
  margin-left: 168px;
  justify-content: space-between;
}

.navigation__list,
.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation__list {
  max-width: 450px;
}

.panel {
  justify-content: flex-end;
}

.navigation__link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
}

.navigation__item--current .navigation__link {
  position: relative;
}

.navigation__item--current .navigation__link::after {
  content: "";
  position: absolute;
  left: 16px;
  bottom: -1px;
  height: 2px;
  width: calc(100% - 32px);
  background-color: #756157;
}

/* user panel */
.panel__item {
  padding: 22px 12px;
}

.panel__item--button {
  padding: 14px 0;
  margin-left: 20px;
}

.panel__item--button .panel__link {
  padding: 8px 34px;
  font-size: 16px;
  line-height: 20px;
}

.panel__link {
  text-decoration: none;
}

.panel__item--basket .panel__link{
  display: block;
  position: relative;
}

.panel__item--basket .panel__link::after {
  content: "12";
  position: absolute;
  left: 8px;
  bottom: 11px;
  display: block;
  padding: 5px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
}

/* promo */
.main-index__promo {
  padding-bottom: 90px;
}

.main-index__promo-image {
  margin-bottom: 69px;
}

.main-index__description-title {
  max-width: 620px;
  margin-bottom: 25px;
}

/* advantages */
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages__item--pictured {
  display: flex;
}

.advantages__item--reversed {
  flex-direction: row-reverse;
}

.advantages__item--default,
.advantages__item--amenities,
.advantages__content {
  position: relative;
  width: 400px;
  min-height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
  padding: 103px 85px 121px;
}

.advantages__content {
  padding-top: 92px;
  padding-bottom: 111px;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
}

.advantages__content .advantages__text {
  color: inherit;
}

.advantages__item--central {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item--amenities {
  padding-top: 182px;
  padding-bottom: 81px;
}

.advantages__item--food {
  background-color: #ffffff;
}

.advantages__title {
  position: relative;
  margin: 0 28px 62px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages__item--amenities .advantages__title {
  margin: 0 0 30px;
}

.advantages__item--default .advantages__title::after,
.advantages__content .advantages__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 0.3;
}

.advantages__content .advantages__title::after {
  background-color: #ffffff;
}

.advantages__text {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.advantages__item--amenities::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: top;
}

.advantages__item--house::after {
  width: 77px;
  height: 72px;
  background-image: url("../img/icons/house.svg");
}

.advantages__item--food::after {
  width: 76px;
  height: 72px;
  background-image: url("../img/icons/food.svg");
}

.advantages__item--souvenirs::after {
  width: 76px;
  height: 76px;
  background-image: url("../img/icons/souvenirs.svg");
}

/* hotel-search */
.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search__title {
  margin-bottom: 20px;
}

.hotel-search__text {
  margin-bottom: 54px;
}

/* subscribe */
.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}

.subscribe__title {
  margin-bottom: 20px; /* так же в hotel-search */
}

.subscribe__text {
  margin: 0;
  margin-bottom: 54px; /* так же в hotel-search */
}

.subscribe__form {
  display: flex;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.subscribe__field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  flex-grow: 1;
  border: none;
  background-color: #f2f2f2;
  margin: 0;
  padding: 14px 20px;
}

.subscribe__field::placeholder {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.subscribe__button {
  border-radius: 0;
}

.subscribe--background-image {
  background-color: #84aab4;
  background-image: url("../img/desktop/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe--background-image .subscribe__title,
.subscribe--background-image .subscribe__text {
  color: #ffffff;
}

/* footer */
.footer__container {
  display: flex;
  padding: 40px 70px 30px;
  align-items: center;
  justify-content: space-between;
}

.social-media {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

.social-media__item {
  min-width: 47px;
  padding: 0 10px;
  text-align: center;
}

.social-media__link {
  display: flex;
  width: auto;
  height: 29px;
  align-items: center;
  justify-content: center;
}

.footer__number {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}


/* catalog */
.main-catalog__preview-wrapper {
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #84aab4;
  background-image: url("../img/desktop/filters-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.main-catalog__title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 8px;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  align-items: center;
}

.breadcrumbs__item {
  font-size: 16px;
  line-height: 21px;
  margin-right: 11px;
}

.breadcrumbs__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs__item:not(:first-child) {
  position: relative;
  padding-left: 18px;
}

.breadcrumbs__item:not(:first-child)::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 20px;
  background-image: url("../img/icons/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.main-catalog__header {
  margin-bottom: 40px;
}

/* filters */
.filters {
  display: flex;
  flex-wrap: wrap;
}

.group {
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.group__title {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.group__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* checkbox & radio */
.group__item {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.group__item:last-child {
  margin-bottom: 0;
}

.group__label {
  padding-left: 36px;
  position: relative;
}

.group__label--checkbox::before,
.group__label--radio::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #ffffff;
}

.group__label--checkbox::before {
  border-radius: 4px;
}

.group__label--radio::before {
  border-radius: 50%;
  border: 5px solid #ffffff;
}

.group__field:checked + .group__label--checkbox::before {
  background-image: url("../img/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.group__field:checked + .group__label--radio::before {
  background-color: #3F5E72;
}

.group--housing {
  margin-right: auto;
}

/* price-range */
.group--price-range {
  max-width: 288px;
}

.group--price-range .group__list {
  display: flex;
  margin: 0;
  margin-bottom: 36px;
  border-radius: 5px;
  overflow: hidden;
}

.group--price-range .group__item {
  position: relative;
  margin: 0;
  margin-right: 2px;
}

.group--price-range .group__item:last-child {
  margin-right: 0;
}

.group--price-range input {
  width: 100%;
  margin: 0;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
}

/* hide input[type=number] arrows*/
.group--price-range input::-webkit-outer-spin-button,
.group--price-range input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.group--price-range input[type=number] {
  -moz-appearance: textfield;
}
/*  */

.group--price-range .group__label {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 0;
  color: #000000;
  opacity: 0.3;
}


/* slider */
.slider {
  padding: 8px 0;
}

.slider__scale {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider__range {
  width: 80%;
  height: 100%;
  background-color: #ffffff;
}

.slider__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider__item {
  position: absolute;
  top: -8px;
}

.slider__item--from {
  left: 0;
}

.slider__item--to {
  left: calc(80% - 20px);
}

.slider__button {
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
}


/* controls */
.form-controls {
  display: flex;
  padding: 0;
  margin: 0;
  flex-direction: column;
  justify-content: flex-end;
  list-style-type: none;
}

.form-controls__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.form-controls__item:last-child {
  margin-bottom: 0;
}

.form-controls__button {
  font-size: 16px;
  line-height: 20px;
}


/* catalog content */
.main-catalog__content-wrapper {
  padding-top: 50px;
  padding-bottom: 60px;
}

.content__info {
  display: flex;
  margin-bottom: 40px;
}

.content__text {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  align-self: center;
}

.sort {
  position: relative;
  width: 292px;
  padding: 14px 40px 14px 20px;
  margin-right: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sort::after {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background-image: url("../img/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sort:hover::after {
  transition: all 0.2s step-end;
  transform-origin: 50% 25%;
  transform: rotate(180deg);
}

.view-controls {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.view-controls__item {
  display: flex;
  margin-right: 8px;
}

.view-controls__item:last-child {
  margin-right: 0;
}

.view-controls__button {
  margin: 0;
  padding: 0 16px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-controls__item--current .view-controls__button {
  border-color: #000000;
}

/* cards */
.cards {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.cards::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #E6E6E6;
}

.cards__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__item:last-child:nth-child(3n),
.cards__item:nth-last-child(-n + 3):nth-child(3n+1),
.cards__item:nth-last-child(-n + 2):nth-child(3n+2) {
  margin-bottom: 0;
}

.cards__picture {
  width: 100%;
  margin-bottom: 16px;
  align-self: center;
  order: -1;
}

.cards__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 28px;
}

.cards__info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 16px;
}

.cards__group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;
}

.cards__button {
  padding: 8px 0;
  width: 100%;
  font-size: inherit;
  line-height: inherit;
}

.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.stars__item:not(:last-child) {
  margin-right: 6px;
}

.cards__rating {
  width: 100%;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 8px;
  text-align: center;
  font-size: inherit;
  line-height: inherit;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
}

/* pagination */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination__item {
  margin-right: 8px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination__item--current .pagination__link {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination__item:nth-last-child(2) .pagination__link {
  font-weight: 400;
  color: #000000;
  background-color: transparent;
}
